#create-account {
  background-color: white;
  display: flex;
  padding: 0;
  margin: 0;

  .left-content {
    background-color: $primary-gray-100;
    width: 50%;
    text-align: center;

    .upper-content {
      background-color: $primary-blue-100;
      padding-top: 100px;
      min-height: calc(100vh - 84px - 154px);

      h2 {
        color: white;
        margin-top: 0;

        span {
          font-weight: bold;
        }
      }

      #create-account-icon {
        margin-bottom: -10px;
      }
    }

    .bottom-content {
      display: flex;
      padding: 26px 20px;

      .anchor-icon {
        margin-right: 20px;

        svg {
         @include getBiggerOnHover(0.5s, 1.3);
        }
      }
    }
  }

  .right-content {
    padding: 100px 0 130px 93px;
    width: calc(50% - 93px);

    h2 {
      margin-top: 0;
      margin-bottom: 66px;
    }

    h3 {
      color: $primary-gray-80;
      @include setFont('Roboto', 400, 22px);
      margin-bottom: 48px;

      span {
        font-weight: 700;
      }
    }

    .email-field {
      margin-bottom: 48px;

      p {
        color: $primary-red-70;
        margin: 6px 0 0 0;
        @include setFont('Roboto', 700, 14px);
        line-height: 16.41px;
      }
    }

    .password-field {
      
      input {
        margin-bottom: 48px;
      }

      p {
        color: $primary-red-70;
        margin: 6px 0 0 0;
        @include setFont('Roboto', 700, 14px);
        line-height: 16.41px;
      }
    }

    .password-input-field, .confirm-password-input-field {
      input {
        margin-bottom: 0px;
      }

      #password-input-component {
        display: flex;

        #eye-icon {
          cursor: pointer;
          margin-top: 11.5px;
          margin-left: -35px;
        }
      }

      margin-bottom: 48px;
    }

    .code-field {
      margin-bottom: 48px;

      .code-inputs {
        input {
          width: 45px;
          margin: 0 30px 0 0;
        }

        input[type='text'] {
          text-align: center;
          font-size: 24px;
        }
      }

      p {
        color: $primary-red-70;
        margin: 20px 0 0 0;
        @include setFont('Roboto', 700, 18px);
        line-height: 16.41px;
      }
    }

    .buttons {
      button {
        margin: 0 10px;
      }
    }

    h6 {
      margin: 20px 10px;
    }

    .footer {
      display: none;
    }
  }

  #loading-icon {
    $midle: calc((100vh - 32px) / 2);
    margin: $midle auto $midle auto;
  }

  #message-modal {
    background-color: white;
    border: 1px solid gray;
    border-radius: 0 0 10px 10px;
    padding: 20px 10px;
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 0;
    left: calc((100% - 295px) / 2);

    button {
      border-radius: 50px;
    }
  }

  @media (max-width: 1150px) {
    display: block;

    .left-content {
      width: 100%;
      background-color: white;

      .upper-content {
        padding-top: 60px;

        #create-account-icon {
          width: 557px;
          height: 333px;
          margin-bottom: -5px;
        }
      }

      .bottom-content {
        display: none;
      }


    }

    .right-content {
      width: 100%;
      padding: 60px 0 0 0;
      text-align: center;

      .password-input-field, .confirm-password-input-field {
  
        #password-input-component {
          align-items: center;
          justify-content: center;
        }
      }

      .footer {
        background-color: $primary-gray-100;
        margin-top: 60px;
        display: flex;
        padding: 26px 20px;
  
        .anchor-icon {
          margin-right: 20px;
  
          svg {
           @include getBiggerOnHover(0.5s, 1.3);
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    .left-content {
      .upper-content {

        #create-account-icon {
          width: 90%;
          height: 90%;
        }
      }
    }

    .right-content {
      .code-field {
        .code-inputs {
          input {
            margin: 0 10px 0 0;
          }

          input[type='text'] {
            font-size: 20px;
          }
        }
      }

      h3 {
        font-size: 20px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
      }

      form {
        input {
          width: 300px;
        }
      }

      .footer {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (max-width: 380px) {
    .left-content {

      .upper-content {
        padding-top: 60px;

        h2 {
          margin: 20px 10%;
          width: 80%;
        }
      }
    }

    .right-content {

      .code-field {
        .code-inputs {
          input {
            width: 40px;
            margin: 0 10px 0 0;
          }
        }
      }

      .buttons {
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}
