$primary-blue-100: rgba(84, 140, 255, 1);
$primary-blue-90: rgba(84, 140, 255, 0.9);
$primary-blue-80: rgba(84, 140, 255, 0.8);
$primary-blue-70: rgba(84, 140, 255, 0.7);
$primary-blue-60: rgba(84, 140, 255, 0.6);
$primary-blue-50: rgba(84, 140, 255, 0.5);
$primary-blue-40: rgba(84, 140, 255, 0.4);
$primary-blue-30: rgba(84, 140, 255, 0.3);
$primary-blue-20: rgba(84, 140, 255, 0.2);
$primary-blue-10: rgba(84, 140, 255, 0.1);

$secondary-blue-100: rgba(163, 228, 219, 1);
$secondary-blue-90: rgba(163, 228, 219, 0.9);
$secondary-blue-80: rgba(163, 228, 219, 0.8);
$secondary-blue-70: rgba(163, 228, 219, 0.7);
$secondary-blue-60: rgba(163, 228, 219, 0.6);
$secondary-blue-50: rgba(163, 228, 219, 0.5);
$secondary-blue-40: rgba(163, 228, 219, 0.4);
$secondary-blue-30: rgba(163, 228, 219, 0.3);
$secondary-blue-20: rgba(163, 228, 219, 0.2);
$secondary-blue-10: rgba(163, 228, 219, 0.1);

$primary-yellow-100: rgba(245, 186, 19, 1);
$primary-yellow-90: rgba(245, 186, 19, 0.9);
$primary-yellow-80: rgba(245, 186, 19, 0.8);
$primary-yellow-70: rgba(245, 186, 19, 0.7);
$primary-yellow-60: rgba(245, 186, 19, 0.6);
$primary-yellow-50: rgba(245, 186, 19, 0.5);
$primary-yellow-40: rgba(245, 186, 19, 0.4);
$primary-yellow-30: rgba(245, 186, 19, 0.3);
$primary-yellow-20: rgba(245, 186, 19, 0.2);
$primary-yellow-10: rgba(245, 186, 19, 0.1);

$primary-purple-100: rgba(83, 52, 131, 1);
$primary-purple-90: rgba(83, 52, 131, 0.9);
$primary-purple-80: rgba(83, 52, 131, 0.8);
$primary-purple-70: rgba(83, 52, 131, 0.7);
$primary-purple-60: rgba(83, 52, 131, 0.6);
$primary-purple-50: rgba(83, 52, 131, 0.5);
$primary-purple-40: rgba(83, 52, 131, 0.4);
$primary-purple-30: rgba(83, 52, 131, 0.3);
$primary-purple-20: rgba(83, 52, 131, 0.2);
$primary-purple-10: rgba(83, 52, 131, 0.1);

$primary-gray-100: rgba(63, 61, 86, 1);
$primary-gray-90: rgba(63, 61, 86, 0.9);
$primary-gray-80: rgba(63, 61, 86, 0.8);
$primary-gray-70: rgba(63, 61, 86, 0.7);
$primary-gray-60: rgba(63, 61, 86, 0.6);
$primary-gray-50: rgba(63, 61, 86, 0.5);
$primary-gray-40: rgba(63, 61, 86, 0.4);
$primary-gray-30: rgba(63, 61, 86, 0.3);
$primary-gray-20: rgba(63, 61, 86, 0.2);
$primary-gray-10: rgba(63, 61, 86, 0.1);

$primary-red-100: rgba(235, 29, 54, 1);
$primary-red-90: rgba(235, 29, 54, 0.9);
$primary-red-80: rgba(235, 29, 54, 0.8);
$primary-red-70: rgba(235, 29, 54, 0.7);
$primary-red-60: rgba(235, 29, 54, 0.6);
$primary-red-50: rgba(235, 29, 54, 0.5);
$primary-red-40: rgba(235, 29, 54, 0.4);
$primary-red-30: rgba(235, 29, 54, 0.3);
$primary-red-20: rgba(235, 29, 54, 0.2);
$primary-red-10: rgba(235, 29, 54, 0.1);
